#main{

  position: relative;
}
#first{
  height: 450px;
  width: 300px;
  border: 2px solid rgb(165, 107, 107);
  position: absolute;
  top: 200px;
  left: 300px;
  background-color: aqua;
}
#second{
  height: 450px;
  width: 300px;
  border: 2px solid grey;
  position: absolute;
  top: 230px;
  left: 330px;
  background-color: #857f7f;
}
#third{
  height: 450px;
  width: 300px;
  border: 2px solid grey;
  position: absolute;
  top: 260px;
  left: 360px;
  background-color: #f0eaea;
}
#forth{
  height: 450px;
  width: 300px;
  border: 2px solid grey;
  position: absolute;
  top: 290px;
  left: 390px;
  background-color: #722424;
}
#fifth{
  height: 450px;
  width: 300px;
  border: 2px solid grey;
  position: absolute;
  top: 320px;
  left: 420px;
  background-color: #c88787;
}
