<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .main{
    display: grid;
    grid-template-columns: 1.5fr 10.5fr;
    height: 1000px;
  }
  .second{
    border: 1px solid grey;
    padding: 10px;
  }
   .first{
    border: 1px solid grey;
    padding: 10px;
    margin-right: 5px;
  }
</style>
<body>
  <h1>Bailgada Sharyat</h1>
  <p>
    This is the video on youtube bailgada  sharyat pune
  </p>
 <div class="main">
  <div class="first">
    <ul>
      <li><a href="#">link1</a></li>
      <li><a href="#">link2</a></li>
      <li><a href="#" >link3</a></li>
      <li><a href="#">link4</a></li>
    </ul>

  </div>
  <div class="second">
    <iframe width="600" height="400" src="https://www.youtube.com/embed/K7jgfsE2Fus?si=uKawiUZ1n6HDF4Fa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="600" height="400" src="https://www.youtube.com/embed/mBvVaHTxebE?si=1WAZixNdKdWTgSVf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
 </div>
</body>
</html>